@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
}

.slider__images {
    display: flex;
    flex-basis: 100%;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    transition: 1s all;
    align-items: flex-start;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: .5rem;
}

img {
    display: block;
}

.image {
    display: block;
    opacity: 0;
    width: 100%;
}

input {
   visibility: hidden;
   width: 0em;
   height: 0em;
}

.slider__description {
    overflow: hidden;
    height: 1.2rem;
}

.slider__description_content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: .3s all;
}

.description {
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
}

#selector-1:checked ~ .slider__images {
    background-image: url('./images/image-1.jpg');
}

#selector-2:checked ~ .slider__images {
    background-image: url('./images/image-2.jpg');
}

#selector-3:checked ~ .slider__images {
    background-image: url('./images/image-3.jpg');
}

#selector-4:checked ~ .slider__images {
    background-image: url('./images/image-4.jpg');
}

.slider__visible_controls {
    order: 2;
    display: flex;
    margin-top: 1.2rem;
}

.control-container {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-container:hover {
    cursor: pointer;
}

.control-container:hover .control {
    background: #fff;
    border-color: #fff;
}

.control {
    width: 1rem;
    height: 1rem;
    border: 2px solid rgb(72, 153, 230);
    background: rgb(72, 153, 230);
    border-radius: 50%;
    transition: .3s all;
}

#selector-1:checked ~ .slider__visible_controls > label > .control-container > .control-1 {
    background: none;
}

#selector-2:checked ~ .slider__visible_controls > label > .control-container > .control-2 {
    background: none;
}

#selector-3:checked ~ .slider__visible_controls > label > .control-container > .control-3 {
    background: none;
}

#selector-4:checked ~ .slider__visible_controls > label > .control-container > .control-4 {
    background: none;
}

#selector-1:checked ~ .slider__description > .slider__description_content {
    margin-top: 0;
}

#selector-2:checked ~ .slider__description > .slider__description_content {
    margin-top: -1.2em;
}

#selector-3:checked ~ .slider__description > .slider__description_content {
    margin-top: -2.4rem;
}

#selector-4:checked ~ .slider__description > .slider__description_content {
    margin-top: -3.6rem;
}

@media all and (max-width: 767px) {
    .slider {
        margin-top: 1rem;
    }
    .wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90vw;
    }

    .slider__visible_controls {
        order: 0;
        padding-bottom: 1rem;
    }

    .slider__description {
        align-self: flex-start;
        height: 1.7rem;
    }

}